// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 body {
   background: #F4F4F4;
 }

h1, p, a, input {
   font-family: 'Courier New', Courier, monospace;
   text-decoration: none;
 }

 .answer-box, form {
   border: ridge;
   border-radius: 5px;
   text-align: center ;
   padding: 10px;
 }

 .question-link {
   text-align: center;
   margin-top: 10px;
   font-weight: bolder;
 }
